#chooseView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chooseView > .row > div{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 60px;
}

.chooseViewSearchContainer, .chooseViewSearchContainer > *{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chooseViewSearchContainer > * > span{
    width: 50%;
}

.chooseViewSearchContainer > * > span > input{
    width: 100%;
}