#chooseView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#chooseView > div{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 60px;
}

.chooseViewSearchContainer{
    display: flex;
}

.chooseViewSearchContainer > span{
    width: 50%;
}

.chooseViewSearchContainer > span > input{
    width: 100%;
}