.mainContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /*overflow-x: hidden;*/
  position: relative;
  overflow: hidden;
}

#ChooseView{
  position: absolute;
  left: auto;
  transition: 0.5s linear;
}

#UniversityView{
  position: absolute;
  margin-left: 200%;
  transition: 0.5s linear;
}

#returnBack{
  position: fixed;
  left: 15px;
  top: 15px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  font-size: 60px;
  font-weight: bold;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  color: chocolate;
  opacity: 0;
  transition: 0.5s linear;
}